<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weedai.ptp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.weedai.ptp.ui.activity.LoginActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.weedai.ptp.ui.activity.RegisterActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.weedai.ptp.ui.activity.MainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.weedai.ptp.ui.activity.OptimizingFinancialActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.weedai.ptp.ui.activity.MyWealthActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.weedai.ptp.ui.activity.MyBankCardActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.weedai.ptp.ui.activity.MyModifyBankCardActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.weedai.ptp.ui.activity.MyRechargeActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.weedai.ptp.ui.activity.MyWithdrawalActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.weedai.ptp.ui.activity.MyMicroCurrencyHistoryActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.weedai.ptp.ui.activity.ArticleActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />

    </application>

</manifest>
